export OPENAI_API_KEY="your_openai_api_key_here"
export ANTHROPIC_API_KEY="your_anthropic_api_key_here"
export DISCORD_BOTOKEN="insert_bot_token"
export DISCORD_BOTOKEN_TIMOTHY="insert_timothy_token"
export DISCORD_GUILD_ID="insert_guild_id_see_settings"
export ANTHROPIC_API_KEY="your_anthropic_api_key_here"
export GROQ_API_KEY="your_groq_api_key_here"
export TOKENIZERS_PARALLELISM=false